@media (min-width: 1024px) {

    header {
        background-color: #333;
        color: #fff;
        padding: 40px;
        position: relative;

    }

    #headline {
        font-size: 40px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 30%);
    }

    #logout {
        cursor: pointer;
        margin-top: 0.5%;
        position: absolute;
        left:0;
        top: 0;
        transform: translateY(50%);
    }

    body {
        font-family: "Georgia", sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
    }

    #main {
        max-width: 900px;
        margin: 10px auto;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
    }

    .rezept {
        background-color: #f7f7f7;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .rezept h3 {
        margin-top: 0;
    }

    .rezept p {
        margin: 0;
    }

}









@media (max-width: 900px) {

    header {
        background-color: #333;
        color: #fff;
        padding: 30px;
        position: relative;

    }

    #headline {
        font-size: 30px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 30%);
    }

    #logout {
        cursor: pointer;
        left: 5%;
        top: 25%;
        position: absolute;
    }

    body {
        font-family: "Georgia", sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
    }

    #main {
        max-width: 400px;
        margin: 10px auto;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
    }

    .rezept {
        background-color: #f7f7f7;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .rezept h3 {
        margin-top: 0;
    }

    .rezept p {
        margin: 0;
    }

}

